<p id="notice" class='alert alert-warning'><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<% if @school.city.blank? %>
<p>
  <td>Unspecified City</td>
</p>
<% else %>
<p>
  <strong>City: </strong>
  <%= @school.city %>
</p>
<% end %>
<% if @school.state.blank? %>
<p>
  <td>Unspecified State</td>
</p>
<% else %>
<p>
  <strong>State:</strong>
  <%= @school.state %>
</p>
<% end %>
<% if current_student.id == @school.student.id %>
<%= link_to 'Change School |', edit_school_path(@school), class: 'white' %>
<% end %>
<%= render 'back' %>
